<h1>Hi, <%= @recipient.full_name%>!</h1>

<p>
  You have been challenged by <%= @sender.full_name %> to a match in foosball!
  Below you can find more information:
</p>

<p>
  <strong><%= @message %></strong>
</p>

<p>
  Reply to this email to accept this challenge and discuss details with <%= @sender.first_name %>.
</p>
