development:
  adapter: postgresql
  encoding: unicode
  database: foosball_development
  pool: 5
  username: username
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: foosball_test
  pool: 5
  username: username
  password:
