.well
  %h2 Match - #{@match.player1.full_name} vs. #{@match.player2.full_name}

  %h3 score: #{@match.score_player1} : #{@match.score_player2}

.panel.panel-success
  .panel-heading
    %h3.panel-title Previous matches between these players
  .panel-body
    Here be previous matches between these two players
